body {
  padding-top: 5rem;
  background-color: #FF4646;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1 {
    color :#010101
}

h2 {
  color :#FFFFFF
}

p {
  text-indent:50%
  color :#010101
}
